# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Azure
*.publishsettings

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docs

*.ppt
*.pptx
*.doc
*.pdf
*.docx

