# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Azure
*.publishsettings

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Claude
CLAUDE.md

# Logs
*.log

# Docs

*.ppt
*.pptx
*.doc
*.pdf
*.docx

# Build artifacts
puppeteer-config.json

# Graveyard Files

.graveyard/*
.graveyard.*